@media all and (max-width: 1440px) {
  body {
    /* max-height: 900px; */
    max-width: 1440px;
  }

  .loading {
    /* max-height: 900px; */
    max-width: 1440px;
    height: 100vh;
    display: none;
    overflow: hidden;
  }

  #OpeningCont {
    /* max-height: 900px; */
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  @keyframes Opening {
    0% {
      margin-right: 100px;
    }

    100% {
      margin-right: 0;
    }
  }

  .stick {
    background-color: #6B4E39;
    height: 500px;
    width: 15px;
  }

  #OpeningText {
    /* max-height: 900px; */
    max-width: 1440px;
    overflow: hidden;
    height: 100vh;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #textic p {
    max-width: 1221px;
    max-height: 355px;
    font-family: "EBGaramond";
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .SClouds4 {
    margin-top: 130px;
  }

  .SClouds5 {
    margin-top: 230px;
  }

  .SClouds6 {
    margin-top: 100px;
  }

  button {
    line-height: 145%;
    width: 400px;
    height: 83px;
    background-color: #452F15;
    grid-column: 2 / 3;
    grid-row: 9 / 10;
    color: white;
    font-size: 64px;
    text-align: center;
    transition: background-color 250ms ease-in-out;
  }

  #result {
    max-height: 900px;
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
  }

  #count {
    display: flex;
    justify-content: center;
    z-index: 100;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-family: "Le Murmure";
    font-size: 96px;
    text-align: center;
    color: white;
    justify-items: center;
    align-items: center;
  }
}

@media all and (max-width: 1366px) {
  body {
    /* max-height: 768px; */
    max-width: 1366px;
  }

  .loading {
    /* max-height: 768px; */
    max-width: 1366px;
    height: 100vh;
    display: none;
    overflow: hidden;
  }

  #OpeningCont {
    /* max-height: 768px; */
    max-width: 1366px;
    height: 100vh;
    overflow: hidden;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .biggates {
    display: none;
  }

  .smallergates {
    display: block;
  }

  .cloud>img {
    transform: scale(0.80);
  }

  .cloud1 {
    margin-top: -420px;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .cloud2 {
    margin-top: -585px;
    grid-column-start: 6;
    grid-column-end: 8;
  }

  .cloud3 {
    margin-top: -400px;
    grid-column-start: 8;
    grid-column-end: 11;
  }

  @keyframes Opening {
    0% {
      margin-right: 50px;
    }

    100% {
      margin-right: 0;
    }
  }

  .stick {
    background-color: #6B4E39;
    height: 500px;
    width: 10px;
  }

  #OpeningText {
    /* max-height: 768px; */
    max-width: 1366px;
    overflow: hidden;
    height: 100vh;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #textic p {
    max-width: 1221px;
    max-height: 355px;
    font-family: "EBGaramond";
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .cloudi>img {
    transform: scale(0.90);
  }

  .SClouds1>img {
    margin-top: -50px;
  }

  .SClouds2>img {
    margin-top: -35px;
  }

  .SClouds3>img {
    margin-top: -50px;
  }

  .SClouds6>img {
    transform: scale(0.70);
  }

  .SClouds1 {
    margin-top: -470px;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .SClouds2 {
    margin-top: -520px;
    grid-column-start: 6;
    grid-column-end: 7;
  }

  .SClouds3 {
    margin-top: -400px;
    grid-column-start: 9;
    grid-column-end: 11;
  }

  .SClouds4 {
    margin-top: 67px;
  }

  .SClouds5 {
    margin-top: 160px;
  }

  .SClouds6 {
    margin-top: 0px;
  }

  button {
    line-height: 145%;
    width: 400px;
    height: 83px;
    background-color: #452F15;
    grid-column: 2 / 3;
    grid-row: 9 / 10;
    color: white;
    font-size: 64px;
    text-align: center;
    transition: background-color 250ms ease-in-out;
  }

  #result {
    max-height: 768px;
    max-width: 1366px;
    height: 100vh;
    overflow: hidden;
  }

  #count {
    display: flex;
    justify-content: center;
    z-index: 100;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-family: "Le Murmure";
    font-size: 96px;
    text-align: center;
    color: white;
    justify-items: center;
    align-items: center;
  }
}
@media all and (max-width: 1024px) {
  body {
    max-width: 1024px;
    height: 100vh;
  }

  .loading {
    max-width: 1024px;
    height: 100vh;
    display: none;
    overflow: hidden;
  }

  #OpeningCont {
    max-width: 1024px;
    height: 100vh;
    overflow: hidden;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .biggates {
    display: none;
  }

  .smallergates {
    display: none;
  }
  .evensmallergates{
    display: block;
  }

  .cloud>img {
    transform: scale(0.50);
  }

  .cloud1 {
    margin-top: -420px;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .cloud2 {
    margin-top: -470px;
    grid-column-start: 8;
    grid-column-end: 9;
  }

  .cloud3 {
    display: none;
    margin-top: -400px;
    grid-column-start: 8;
    grid-column-end: 11;
  }
  .cloud6 {
  }
  .cloud5 {
    display: none;
  }


  @keyframes Opening {
    0% {
      margin-right: 50px;
    }

    100% {
      margin-right: 0;
    }
  }

  .stick {
    background-color: #6B4E39;
    height: 500px;
    width: 8px;
  }

  #OpeningText {
    max-width: 1024px;
    overflow: hidden;
    height: 100vh;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #textic p {
    max-width: 791px;
    max-height: 355px;
    font-family: "EBGaramond";
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .cloudi>img {
    transform: scale(0.70);
  }

  .SClouds1>img {
    margin-top: -50px;
  }

  .SClouds2>img {
    margin-top: -35px;
  }

  .SClouds3>img {
    margin-top: -50px;
  }

  .SClouds6>img {
    transform: scale(0.80);
  }

  .SClouds1 {
    margin-top: -470px;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .SClouds2 {
    margin-top: -520px;
    grid-column-start: 8;
    grid-column-end: 9;
  }

  .SClouds3 {
    display: none;
  }

  .SClouds4 {
    margin-top: 67px;
  }

  .SClouds5 {
    margin-top: 160px;
  }

  .SClouds6 {
    margin-top: 0px;
  }

  button {
    line-height: 145%;
    width: 400px;
    height: 83px;
    background-color: #452F15;
    grid-column: 2 / 3;
    grid-row: 8 / 10;
    color: white;
    font-size: 64px;
    text-align: center;
    transition: background-color 250ms ease-in-out;
  }
  .button-wrap2 > button{
    width: 400px;
    height: 83px;
    grid-row: 8 / 10;
  }
  .fire{
    height: 70px;
  }

  #result {
    max-height: 768px;
    max-width: 1366px;
    height: 100vh;
    overflow: hidden;
  }

  #count {
    display: flex;
    justify-content: center;
    z-index: 100;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-family: "Le Murmure";
    font-size: 96px;
    text-align: center;
    color: white;
    justify-items: center;
    align-items: center;
  }

}
