@font-face {
  font-family: "EBGaramond Italic";
  src: url(../fonts/EBGaramond-Italic-VariableFont_wght.ttf);
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;

}
@font-face {
  font-family: "EBGaramond";
  src: url(../fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Le Murmure";
  src: url(../fonts/le-murmure.ttf);
}

body {
  background-color: #241D19;
  max-height: 1080px;
  max-width: 1920px;
}

.loading {
  max-width: 1920px;
  max-height: 1080px;
  height: 100vh;
  display: none;
  flex-direction: column;
  animation: smirk 2s ease-in-out infinite;
  justify-content: center;
  overflow: hidden;
}

.loading.transition {
  transition: transform 2s cubic-bezier(0.55, 0.28, 0.58, 1);
  transform: scale(0.8);
  transform-origin: center;
  animation: dis 3s ease-out;
}
.fallingOff{
  transform: rotateX(90deg);
  animation: fallingbeh 0.5s ease-out;
}
@keyframes fallingbeh {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(90deg);
  }

}
@keyframes smirk {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 40%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes dis {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

#OpeningCont {
  max-height: 1080px;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  display: none;
  /* display: grid; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.smallergates {
  display: none;
}
.evensmallergates{
  display: none;
}
#gates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transform-origin: bottom;
}
.opengate {
  margin-right: 0;
  animation: Opening 2s ease-out;
}

@keyframes Opening {
  0% {
    margin-right: 100px;
  }

  100% {
    margin-right: 0;
  }
}

#clouds {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 1fr;
  transform-origin: top;
  /* transform: rotateX(90deg); */
  animation: disappearing-up 2s ease-out;
}

.stick {
  background-color: #6B4E39;
  height: 500px;
  width: 15px;
}

.cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cloud img {
  margin-top: -100px;
}

.cloud1 {
  margin-top: -220px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.cloud2 {
  margin-top: -500px;
  grid-column-start: 6;
  grid-column-end: 8;
}

.cloud3 {
  margin-top: -200px;
  grid-column-start: 9;
  grid-column-end: 11;
}

#clouds2 {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 50% 50%;
  transform-origin: bottom;
  animation: disappearing-down 2s ease-out;
}

@keyframes disappearing-down {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes disappearing-up {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.cloudi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ios{
  display: none;
}
.cloudi img {
  z-index: 2;
  margin-bottom: -100px;
}

.cloud4 {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.cloud5 {
  margin-top: 100px;
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.cloud6 {
  margin-top: 100px;
  grid-row: 2;
  grid-column-start: 8;
  grid-column-end: 10;
}

#OpeningText {
  max-height: 1080px;
  max-width: 1920px;
  overflow: hidden;
  height: 100vh;
  /* background-color: aqua; */
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.smallerCloudsUp {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 1fr;
  transform-origin: top;
  animation: disappearing-up 2s ease-out;
}

#textic {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#textic p {
  max-width: 1221px;
  max-height: 355px;
  font-family: "EBGaramond";
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  grid-column-start: 1;
  grid-column-end: 1;
}
.SClouds1 {
  margin-top: -420px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.SClouds2 {
  margin-top: -520px;
  grid-column-start: 6;
  grid-column-end: 7;
}

.SClouds3 {
  margin-top: -320px;
  grid-column-start: 9;
  grid-column-end: 11;
}
#game {
  /* max-height: 1080px; */
  max-width: 1920px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#lol{
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  justify-content: flex-end;
  z-index: 51;
}
#lol1{
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  justify-content: flex-end;
  z-index: 50;
}

#hp{
  margin-top: 2%;
  /* margin-left: -5%; */
  width: 100%;
  height: 100%;
  z-index: 2001;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#gaga{
  width: 20%;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-start;
}
#gaga1{
  width: 20%;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-start;
  z-index: 0;
}
.cuntcon{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  height: 100%;
}
#cunt{
  color: chartreuse;
  font-size: 100px;
  text-align: center;
}
.mech{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.mecha{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.smallerCloudsDown {
  overflow: hidden;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 50% 50%;
  transform-origin: bottom;
  animation: disappearing-down 2s ease-out;
}

.SClouds4 {
  margin-top: 180px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

.SClouds5 {
  margin-top: 280px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
}

.SClouds6 {
  margin-top: 100px;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row: 2;
}

.button-wrap {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 10%);
  justify-items: center;
  align-items: center;
}
.button-wrap2 {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 10%);
  justify-items: center;
  align-items: center;
}
.button-wrap2 > button{
  height: 105px;
  width: 600px;
  grid-row: 8 / 10;
}

button {
  height: 105px;
  width: 600px;
  grid-row: 8 / 10;
  line-height: 130%;
  z-index: 101;
  border: none;
  font-family: "Le Murmure";
  background-color: #452F15;
  grid-column: 2 / 3;
  color: white;
  font-size: 96px;
  text-align: center;
  transition: background-color 250ms ease-in-out;
}

button:hover {
  background-color: #140C03;
}

button:active {
  transform: scale(0.99);
}

.hellFire {
  display: grid;
  overflow-x: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  align-items: end;
}
.hellFire > img{
  z-index: 2000;
}

.fire {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: all 3000ms ease-in;
}
.mech{
  position: relative;
  width: 1920px;
  height: 100%;
  overflow: hidden;
  /* z-index: 2000; */
}
.ghostA{
  z-index: 2000;
  overflow: hidden;
  top: 150%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: bottom;
}
.ghostA > img{
  z-index: 2002;
  margin-bottom: -10vh;
}
.ghostA > div{
  z-index: -4000;
  margin-bottom: -10vh;
}
.ghostB{
  z-index: 2000;
  overflow: hidden;
  top: 150%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: bottom;
}
.ghostB > img{
  z-index: 2002;
  margin-bottom: -10vh;
}
.ghostB > div{
  z-index: -4000;
  margin-bottom: -10vh;
}

.ghost {
  z-index: 2000;
  overflow: hidden;
  left: -300px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: bottom;
}
.ghost > img{
  z-index: 2002;
  margin-bottom: -10vh;
}
.ghost > div{
  z-index: -4000;
  margin-bottom: -10vh;
}
#result {
  /* max-height: 1080px; */
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#count {
  display: flex;
  justify-content: center;
  z-index: 100;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  font-family: "Le Murmure";
  font-size: 96px;
  text-align: center;
  color: white;
  justify-items: center;
  align-items: center;
}

#goodFinal {
  background-color: #FFFBD7;
  /* max-height: 1080px; */
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#goodrestext {
  display: flex;
  justify-content: center;
  z-index: 100;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  font-family: "Le Murmure";
  font-size: 96px;
  text-align: center;
  color: black;
  justify-items: center;
  align-items: center;
}

#badFinal {
  /* max-height: 1080px; */
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#sl{
  display: none;
}
#sad{
  display: block;
}
#aad{
  display: none;
}
#fad{
  display: none;
}

#badrestext {
  display: flex;
  justify-content: center;
  z-index: 100;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  font-family: "Le Murmure";
  font-size: 96px;
  text-align: center;
  color: white;
  justify-items: center;
  align-items: center;
}
.IOSClouds1{
  display: none;
}
.IOSClouds2{
  display: none;
}
